<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep internetowy</title>
    {% load static %}
    <link rel="icon" href="{% static 'delivery.png' %}" type="image/x-icon">
    <link rel="stylesheet" href='{% static 'styles.css' %}?{% now "U" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
</head>
<body>
    <header>
        <div class="header-up">
            <div class="adress-hour left-15">
                <div class="dropdown">
                    <span><img class="location-icon" src="{% static 'location.png' %}" alt="Ikona kontaktu"></span><span class="contact-text">Znajdź sklep</span><span><img class="arrow-icon" src="{% static 'down-arrow.png' %}" alt="Ikona kontaktu"></span>
                    <div class="dropdown-content contact-info">
                        <p><a href="https://www.google.com/maps/place/Zapora+Tresna/@49.74605,19.2025206,15z/data=!4m6!3m5!1s0x47169d65fa6215a1:0x59fa98c4ef96377!8m2!3d49.7471748!4d19.2072022!16s%2Fg%2F11c52cc58q?hl=pl-PL&entry=ttu" target="_blank">ul. Przykładowa 123</a></p>
                        <p><a href="tel:+48 123 456 789">Telefon: 123-456-789</a></p>
                        <p><a href="mailto:example@example.com">mail: example@example.com</a></p>
                        <a href="{% url 'contact' %}"><button class="contact-button">Znajdź sklep</button></a>
                    </div>
                </div>
                <div>
                    <p>Otwieramy od 8:00</p>
                </div>
            </div>
            <div class="company-header">
                <a href="{% url 'home' %}"><img class="ecommerce-logo" src="{% static 'ecommerce.png' %}" alt="Sklep internetowy"></a>
            </div>
            <div class="right-block">
                <nav>
                    <ul class="nav-links">
                        <li><a href="tel:+48 123 456 789">tel. 123 456 789</a></li>
                        <li><a href="{% url 'home' %}">Strona główna</a></li>
                        <li><a href="{% url 'about' %}">O nas</a></li>
                        <li><a href="{% url 'contact' %}">Kontakt</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-down">
            <div class="user">
                {% if user.is_authenticated %}
                <div class="user-info">
                    <p> Witaj {{ user.username }}</p>
                    <a href="/logout/"><button class="logout">Wyloguj</button></a>
                </div>
                {% else %}
                <div class="user-info">
                    <a href="/login/"><button class="login">Zaloguj</button></a>
                </div>
                {% endif %}
            </div>
            <div class="cart">
                <div class="cart-icon">
                    <img src="{% static 'cart.ico' %}" alt="Ikona koszyka" class="cart-icon-image">
                    <div class="cart-content">
                        <ul class="cart-products">
                            <!-- Lista produktów w koszyku będzie generowana dynamicznie -->
                        </ul>
                        <div class="cart-total-price">
                            <!-- Suma ceny będzie generowana dynamicznie -->
                        </div>
                        <button class="cart-checkout">Zamów</button>
                    </div>
                </div>
                <div class="cart">
                    <div class="cart-count">
                        <span id="cart-count">0</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %} {% endblock %}

<footer class="top">
    <p>&copy; 2022 Sklep internetowy. Wszelkie prawa zastrzeżone.</p>
</footer>



<script type="text/javascript" src="{% static 'scripts.js' %}"></script>   
</body>
</html>