{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <section class="products">
            {% for attribute in attributes %}
            <div>
                <article class="product">
                    
                    <a href="{{ attribute.id }}"><img src={{attribute.image}} alt="Product" class="image-250"></a>
                    <p>{{ attribute.name }}</p>
                    <p>Cena: {{ attribute.price }}</p>
                    <button class="add-to-cart-button" data-product-name="{{ attribute.name }}" data-product-price="{{ attribute.price }}">Dodaj do koszyka</button>
                    
                    
                </article>
            </div>
            {% endfor %}
        </section>
    </main>
 
{% endblock %}

